[2020-02-12 07:38] fridex opened #3 "Add ability to pass pip specific parameters"
**Is your feature request related to a problem? Please describe.**

When I run ```micropipenv install```, I want to install dependencies to the Python user install directory.

**Describe the solution you'd like**

Add an ability to pass pip specific options, something like:

```micropipenv install - --user```

[2020-02-12 20:42] #3 closed

[2020-02-17 08:37] fridex opened #10 "Consider --no-deps for pip installs"
**Is your feature request related to a problem? Please describe.**

As micropipenv operates on already resolved software stack present in Pipfile.lock, it might be a good idea to pass `--no-deps` to pip install command. This way, pip will just download and install dependencies. It will not trigger a resolver for the installed packages.

**Describe the solution you'd like**

Install dependencies us

[2020-02-17 13:42] #10 closed

[2020-02-25 21:06] fridex opened #12 "micropipenv should handle issues caused by relative ordering of dependencies"
**Describe the bug**

As reported in https://github.com/thoth-station/s2i-thoth/issues/39 by @4n4nd

micropipenv does not handle the relative ordering of dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. Reach out to https://github.com/thoth-station/s2i-thoth/issues/39
2. Check build log and installed dependencies
3. See error

**Expected behavior**

micropipenv should correctly

[2020-02-25 21:09] fridex commented on #12
As we might encounter similar issues when pip-tools style requirements are used, we should be capable of handling these errors in Python s2i even for requirements.txt/requirements.in.

[2020-02-25 21:30] 4n4nd commented on #12
What if you add one more retry for the failed dependencies, but after all other builds have finished?

[2020-02-25 21:35] fridex commented on #12
+1, that's what I tried to express

Currently, we install all the dependencies by exec to pip - we can install them one after another and retry the failed ones.

[2020-02-25 22:06] 4n4nd commented on #12
Ah okay. But why the —no-deps flag?

[2020-02-26 06:45] fridex commented on #12
See https://github.com/thoth-station/micropipenv/issues/10

And more importantly - the stack present in Pipfile.lock is already fully resolved with all the dependencies pinned to specific versions. If we would install packages without `--no-deps` flag iteratively, they will also include their dependencies (latest possible) and that's what we don't want - we want to install exactly those packages t

[2020-02-26 14:01] 4n4nd commented on #12
Oh yes that makes a lot of sense.
Thanks!

[2020-02-26 20:11] #12 closed

[2020-02-27 12:19] fridex opened #19 "Python2 support"
**Is your feature request related to a problem? Please describe.**

In order to use this tool in Python s2i, it would be nice to also support EOL Python2.

TODO

- [ ] make micropipenv compatible with Python2
- [ ] create testsuite for running micropipenv in Python2/Python3 possibly in different versions (tox?)

**Related discussion**

https://github.com/sclorg/s2i-python-container/pull/367

[2020-02-27 12:20] fridex commented on #19
CC @frenzymadness

[2020-02-27 12:22] fridex opened #20 "Package as RPM"
**Is your feature request related to a problem? Please describe.**

Let's have micropipenv as an RPM.

[1] https://fedoraproject.org/wiki/Packit

**Related discussion**
https://github.com/sclorg/s2i-python-container/pull/367

[2020-02-27 12:22] fridex commented on #20
CC @frenzymadness

[2020-02-27 14:19] frenzymadness commented on #19
Tox is a great idea here. We can then use it to test micropipenv with all supported Pythons.

[2020-02-27 14:23] frenzymadness commented on #20
Don't forget to start with some helper like `pyp2rpm`. I'll take a look at this if nobody will be faster than me.

[2020-03-02 08:20] fridex opened #22 "Add support for Poetry"
**Is your feature request related to a problem? Please describe.**

It would be nice to also support Poetry's lockfile as an input for this tool. This way micropipenv can act as a lightweight compatibility layer for installing Python packages in s2i.

**Describe the solution you'd like**

micropipenv automatically detects (or is forced to use) Poetry's lock file. It parses it to micropipenv's inte

[2020-03-02 08:32] fridex opened #23 "Add support for pip-tools"
**Is your feature request related to a problem? Please describe.**

Similarly, as for #22, it would be nice to add support for requirements.txt as produced by pip-tools.

**Describe the solution you'd like**

micropipenv would parse the lock file produced by pip-tools into its internal representation and would do the installation process in the s2i. The reason behind not installing requirements di

[2020-03-02 08:33] fridex commented on #22
CC @frenzymadness

[2020-03-02 08:33] fridex commented on #23
CC @frenzymadness

[2020-03-02 08:39] fridex opened #24 "Add support for raw pip files"
**Is your feature request related to a problem? Please describe.**

As micropipenv can act as a compatibility layer for installing Python packages into Python s2i, it could be nice to also add support for requirements.txt where the lock is not produced/compatible with pip-tools.

**Describe the solution you'd like**

micropipenv can detect requirements.txt and parse it into its internal representa

[2020-03-02 08:41] fridex commented on #24
CC @frenzymadness

[2020-03-02 08:42] fridex opened #25 "Consider renaming this tool"
**Is your feature request related to a problem? Please describe.**

Pipenv is gaining bad name in the community. Also, considering the fact this tool can be a "compatibility layer" for installing Python packages in Python s2i, it could be a good idea to rename this tool.

Any comments/suggestions welcome :)

[2020-03-02 08:43] fridex commented on #25
CC @frenzymadness

[2020-03-06 09:37] fridex commented on #23
I gave this a brief spike. To have this properly implemented, we will need to parse requirements from requirements.txt file. That will require either creating own logic for requirements.txt parsing (I'm against this approach) or depend on [packaging](https://github.com/pypa/packaging), which introduces dependencies on [pyparsing](https://github.com/pyparsing/pyparsing/) and six. None of these are

[2020-03-06 09:37] fridex commented on #24
https://github.com/thoth-station/micropipenv/issues/23#issuecomment-595684305 applies also for this

[2020-03-09 16:05] CermakM opened #28 "Allow to disable required hashes"
**Is your feature request related to a problem? Please describe.**

Trying to install a dependency from git, I get the following error:

[code]
**Describe the solution you'd like**
I'd like to be able to disable this requirement via an environment variable.

**Additional context**
OpenShift S2I

<details><summary>Pipfile</summary>

[code]
</details>

<details><summary>Pipfile.lock</summary>

[code

[2020-03-10 09:21] fridex commented on #28
I cannot reproduce this locally. Could you post Pipfile and Pipfile.lock used? What version of s2i-thoth has been used?

[2020-03-10 18:11] #22 closed

[2020-03-11 16:27] todo[bot] opened #33 "poetry uses version like ^0.10.4 that are not Pipfile.lock complaint."
https://github.com/thoth-station/micropipenv/blob/96250e22e6a53c80551967fa63b952d7edeb97b5/micropipenv.py#L458-L463

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 96250e22e6a53c80551967fa63b952d7edeb97b5 when #30 was merged. cc @fridex.

[2020-03-12 08:56] CermakM commented on #28
Using the latest s2i: `quay.io/thoth-station/s2i-thoth-ubi8-py36@sha256:f0fb24a9ab94da2c86777393d3d9cc4f30b26fbeda48c5b664c69760c1866cac`, I can't reproduce it either. Instead, the build fails without any explanation:

<details><summary>Log</summary>
Receiving source from STDIN as archive ...
Using quay.io/thoth-station/s2i-thoth-ubi8-py36@sha256:f0fb24a9ab94da2c86777393d3d9cc4f30b26fbeda48c5b664c

[2020-03-12 08:59] fridex commented on #28
Fix in https://github.com/thoth-station/micropipenv/pull/35

[2020-03-12 11:05] frenzymadness opened #36 "Github vs PyPI"
Hi.

The information on Github and PyPI is slightly out of sync:
* The latest release on PyPI is 0.1.1 but on Github, it's 0.1.0
* The tarball on PyPI does not contain tests folder (not a problem) and LICENSE (should be there)

I've tried to use both as a source for RPM package but neither is perfect so one of them has to be fixed before I continue.

[2020-03-12 12:30] #28 closed

[2020-03-12 13:41] fridex commented on #36
Sorry, I forgot to push. It should be OK now.

The sdist  on PyPI (v0.1.3) now comes with the LICENSE file (taken from the repo).

Is there anything more missing I could help with?

[2020-03-12 18:34] fridex commented on #24
Already done in the referenced PR.

[2020-03-12 18:34] #24 closed

[2020-03-12 18:34] fridex commented on #23
Already done in the referenced PR.

[2020-03-12 18:34] #23 closed

[2020-03-12 18:34] fridex commented on #19
Closing this, see #18 for more info.

[2020-03-12 18:34] #19 closed

[2020-03-13 07:39] frenzymadness commented on #36
Well, the latest release on Github is 0.1.2 but PyPI contains 0.1.4. I'll use Github because I want to run tests during the rpm build.

[2020-03-13 08:52] frenzymadness commented on #20
Here are RPMs for multiple Fedora releases in COPR: https://copr.fedorainfracloud.org/coprs/lbalhar/micropipenv/build/1304404/

Could please somebody test them? I did a quick test with one simple Pipfile and it seems to be okay. If you can test it and let me know, I'll prepare it as a proper Fedora package then.

[2020-03-13 09:46] fridex commented on #20
Thanks! I've run the installation part of micropipenv testsuite inside f30, f31, f32 containers. It looks like it works:

[code]

[code]

[2020-03-13 09:50] fridex commented on #20
rawhide works fine for me as well :+1:

[2020-03-13 09:52] fridex commented on #36
agh, forgot to push tags... now it should be fine

[2020-03-13 11:56] #36 closed

[2020-03-13 11:57] frenzymadness commented on #20
Copr contains builds with the latest version. I'm going to prepare a package review bug.

[2020-03-13 12:48] frenzymadness commented on #20
Package review bug: https://bugzilla.redhat.com/show_bug.cgi?id=1813263

[2020-03-16 12:22] frenzymadness opened #41 "Dependency on pip is not declared"
`setup.py` should contain a declaration of dependency on `pip`. It's possible to install micropipenv to a virtual environment without pip (from source) but then it does not work. `install_requires=["pip"]` should fix it.

[2020-03-16 13:37] fridex commented on #41
Thanks, that makes sense :+1: I opened #42

BTW the project is open source, hungry to accept PRs by anyone :)

[2020-03-16 14:17] frenzymadness commented on #20
Package is approved. It will be soon in rawhide. For all other active branches, there are fresh updates:
* F32: https://bodhi.fedoraproject.org/updates/FEDORA-2020-ddf4c8c827
* F31: https://bodhi.fedoraproject.org/updates/FEDORA-2020-a4d894708a
* F30: https://bodhi.fedoraproject.org/updates/FEDORA-2020-5eb0c28ee6

It would be nice if somebody can find some time, test the builds and give them some

[2020-03-16 14:20] #41 closed

[2020-03-16 16:07] fridex commented on #25
So it looks like it's not going to happen...

[2020-03-16 16:07] #25 closed

[2020-03-16 17:54] frenzymadness opened #43 "Testing against all supported Pythons"
Hello.

From my point of view, it'd be very nice to have all supported Pythons in CI. In Python world, tools like tox are defacto standard to create a matrix of all supported Python with all supported dependencies. It'll make it also possible to test micropipenv against development version of Python and discover incompatibilities soon.

I know that the CI is already configured here but I don't und

[2020-03-16 18:20] fridex commented on #43
+1 on my side :+1:

Another approach I could see is testing directly in the container image produced with `pip`+`micropipenv` present inside it (the pip version that is used in the container) - it might be more seen as "integration test" for s2i. The tox environment might be sufficient here though.

[2020-03-17 03:02] frenzymadness opened #44 "Local installed packages"
Hello.

Is there a plan to support locally installed packages? I mean a situation when I have something like this in Pipfile.lock:

[code]

Currently, it's not recognized and micropipenv tries to install package `e1839a8` from PyPI.

[2020-03-17 08:16] fridex commented on #44
It would be nice to support it from a feature-set point of view. :+1:

BTW is there a direct use for this in Python s2i?

[2020-03-17 08:41] frenzymadness commented on #44
I've discovered this during the implementation of micropipenv into s2i-python-container because we use it in one of our testing applications? https://github.com/sclorg/s2i-python-container/pull/372

[2020-03-19 10:52] #43 closed

[2020-04-02 10:48] fridex commented on #43
Another alternative is nox https://nox.thea.codes/en/stable/

[2020-04-05 20:47] fridex opened #49 "Respect index configuration stated in Pipfile.lock"
**Describe the bug**

micropipenv passes index configuration in the same order as it is described in the sources section (`--index-url` and `--extra-index-url` options). This causes that pip treats these indexes as mirrors and tries the very first one (pypi in the example above). As builds of TensorFlow that we produce have different digest, the installation fails (digest check fails).

[code]

**

[2020-04-07 13:29] #49 closed

[2020-04-07 13:40] fridex commented on #44
This should be already implemented in #48.

[2020-04-07 13:40] #44 closed

[2020-04-07 16:36] frenzymadness commented on #20
Micropipenv (0.1.4) is available in Fedora rawhide, 32, 31 and 30.

[2020-04-07 16:36] #20 closed

[2020-05-11 11:17] goern opened #54 "mpe identifies the wrong pyton version"
**Describe the bug**
micropipenv seems to identify the wrong python version:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. `virtualenv -p python3.6 -v ./venv `
2. `source ./venv/bin/activate`
3. `pip install micropipenv`
4. `git clone user-api && cd user-api`
5. `micropipenv install --deploy`

**Expected behavior**
it should be aware it is python3.6

[2020-05-11 12:11] fridex commented on #54
What are the outputs of:

`/usr/bin/env python3 --version`

`which python3`

`python3 --version`

?

https://github.com/thoth-station/micropipenv/blob/0fd65f845a1fe18b494b9f266ee991016d7d7586/micropipenv.py#L1

[2020-05-11 15:57] goern commented on #54
it looks like some markers going crazy within an s2i-thoth build:

[code]

[2020-05-11 15:58] goern commented on #54
It's `quay.io/thoth-station/s2i-thoth-ubi8-py36:v0.12.3` that I'm using

[2020-05-11 16:10] goern commented on #54
https://github.com/thoth-station/s2i-thoth/issues/69

[2020-05-11 16:27] goern commented on #54
Not asking thoth services (advise or provenance) doesn't seem to screw up the Pipfile.lock

[2020-05-18 06:32] fridex commented on #54
This one is related to advises coming from Thoth where environment markers are probably not properly cloned when used in multiple scored stacks (memory optimization). I'll close this and create a relevant issue in adviser.

[2020-05-18 06:32] fridex commented on #54
Oh, reopening. The environment marker issue does not seem to be related to the original issue reported.

[2020-05-18 11:06] fridex commented on #54
I followed these steps using `quay.io/thoth-station/s2i-thoth-ubi8-py36:v0.12.3`. The stack gets installed. Moreover Python 3.7 is not present in the container image at all so I'm curious from where Python 3.7 is detected.

Could it be that `quay.io/thoth-station/s2i-thoth-f31-py37:v0.12.3` was used? That carries Python 3.7 and this issue would correspond to the error reported as user-api requires

[2020-05-22 12:03] frenzymadness opened #55 "Incompatibilities with the latest pip"
**Describe the bug**
It seems that `pip._internal.req` has been changed heavily and therefore `_requirements2pipfile_lock` has to be adjusted.

I've tried to fix it but I don't understand all the attributes it needs from requirements.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests with the latest pip (20.1.1)

It's probably not the best idea to depend on pip internal modules (I ha

[2020-05-22 12:11] fridex commented on #55
Thanks for the report :+1:

I'm biased here. pip moved a lot of logic to internal state so pip devs/maintainers do not need to guarantee backward compatibility on a programming level. This can become a nightmare for micropipenv from maintenance point of view. There is not much functionality that micropipenv uses from pip and its bundled packaging, but it was not straightforward to bundle (or copy

[2020-05-25 14:53] #55 closed

[2020-05-26 08:08] fridex commented on #55
@frenzymadness #58 has been already merged and hence this issue was closed. Could you please verify this issue is no longer relevant on your side? Otherwise we could issue a new minor release.

[2020-05-26 08:14] fridex commented on #54
I'm closing this as I cannot reproduce the issue. Feel free to reopen if the issue persists.

[2020-05-26 08:14] #54 closed

[2020-05-26 08:19] fridex opened #62 "Revisit setup.py structure"
The current `setup.py` structure expects sources being present during the build process in the current working directory. This is no longer the case for some tooling - see https://github.com/pypa/pipenv/issues/4239 and PEP-517.

We should also consider adding relevant trove classifiers.

[2020-05-26 08:41] frenzymadness opened #63 "pytest-mypy and Python 3.8"
I'd like to discuss this change: #59

The problem seems to be caused by the differences between Pipfile.lock when the file is generated by different versions of Python. When you do `pipenv lock` with Python 3.7, you get:

[code]
which looks like mypy is not Python 3.8 compatible, but when you do the same with Python 3.8, you get the same version and different markers:

[code]

This is caused by [t

[2020-05-26 09:03] frenzymadness commented on #55
A minor release would be great so I'd be able to update the RPM. Should we create an issue to discuss how to test micropipenv with various versions of pip?

[2020-05-26 09:48] fridex commented on #63
Nice finding, thanks for spotting this. :+1:

This is something we should document in https://github.com/thoth-station/thamos/issues/413 (not micropipenv related, Thoth specific).

I'm fine with removing it, at least for now (IMO we should have locked dependencies even for tests to have reproducible test-suite). We added pipenv files as we do so for each Thoth repo, however micropipenv is a specif

[2020-05-26 09:49] fridex commented on #63
We can discuss pipenv files in a new issue that would cover testability of micropipenv following your comment in https://github.com/thoth-station/micropipenv/issues/55#issuecomment-633902684

[2020-05-26 14:16] frenzymadness commented on #63
I am not sure that these two topics are related. I'd discuss pipenv files here if there is anything more to discuss, and I'll open a new issue for testing and pip.

[2020-05-26 14:27] frenzymadness opened #64 "Testing with various versions of pip"
It seems that right now we have only one version of pip in our testing dependencies and moreover this version is not locked. If I am not wrong, the version of pip we are using in tests is the one which virtualenv bundles and it's therefore available in pytest-venv fixture where our test run. Right?

IMHO, this has to be extended if we want to keep backward compatibility and test micropipenv with t

[2020-05-27 07:38] fridex commented on #64
I was wondering about creating tests that would create matrix `Python version` x `pip version` so we test against these two (not limiting to s2i case). Having just virtualenv might be good for s2i case as implemented now. Do you plan to use Python's venv module in future s2i container images?

BTW to have proper tests, we would also include toml as a dependency but I think we could ignore it (at l

[2020-05-27 07:40] fridex commented on #64
Just to clarify here - different s2i container images (e.g. ubi8+py3.6, fedora:32+py3.8) with the shipped pip present in the container image.

[2020-05-28 10:59] #63 closed

[2020-05-29 07:25] frenzymadness commented on #64
I don't understand here. Virtualenv is used heavily in s2i-python-container. Newer versions with Python >= 3.6 use venv from Python stdlib and older versions use python-virtualenv RPM package.

Different versions of toml might be included in the same way as pip, see below.

I was thinking about code like this:

[code]
The first three lines would be implemented somehow in each test which uses venv

[2020-05-29 07:54] fridex commented on #64
I was originally thinking about running a whole container to test micropipenv - e.g. run fedora:31+py3.7 and execute all tests in it. This can be avoided with your solution - I think s2i has their own integration tests that might be used here (?).

This sounds like a straightforward solution :+1: Given the layer micropipenv, pip, toml operate on (pure python code), this sounds like an easier to ma

[2020-06-01 07:40] #62 closed

[2020-06-02 05:55] #64 closed

[2020-06-03 06:43] frenzymadness opened #75 "File traversal and method selection"
Because my `/tmp` is full of garbage, I've probably found a bug during the final testing before the next release.

The "problem" is a way we detect which method of installation use which is based on:

https://github.com/thoth-station/micropipenv/blob/0bdce8b49c06881c17bc6510a5eb12bb02d4892c/micropipenv.py#L730-L749

This implementation means that if I have a project with `poetry.lock` in `/home/us

[2020-06-03 07:05] fridex commented on #75
Thanks for spotting this. I tried to [document this behavior in the README file](https://github.com/thoth-station/micropipenv/blob/02d8a86/README.rst#micropipenv-install). But it's misleading for this case.

Yes, this might be a better approach when multiple lock files are found in the parent directories. Considering we keep the priority of lock files untouched when determining method I like this

[2020-06-03 07:47] fridex commented on #33
See Poetry docs for more info:

[2020-06-03 21:34] #75 closed

[2020-06-04 07:35] fridex opened #77 "Start maintaining CHANGELOG"
**Is your feature request related to a problem? Please describe.**

As a user of micropipenv, I would like to see what notable changes were made to the new release so that I can see any new features and breaking changes.

**Describe the solution you'd like**

A CHANGELOG file maintained along the sources, possibly use GitHub releases for this.

**Describe alternatives you've considered**

Let's di

[2020-06-04 11:01] frenzymadness commented on #77
A changelog is definitely useful if a user or package maintainer is not directly involved in development. For example, if I see a breaking change in a changelog I immediately know that I cannot update a package in released versions of Fedora and I do it only for rawhide and more carefully.
A changelog might be a part of RPM (as a regular file in doc folder) but it's neither parsed nor processed in

[2020-06-05 00:21] hroncok opened #80 "Confusing licensing"
**Describe the bug**
I don't understand the licencing of micrpipenv. Is it LGPL or GPL?

- [classifier says](https://github.com/thoth-station/micropipenv/blob/00025232496c898c660400b494c5c85e1a019166/setup.py#L42) License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)
- [license says](https://github.com/thoth-station/micropipenv/blob/00025232496c898c660400b494c5c85e1a01

[2020-06-05 05:03] fridex commented on #80
Based on [this licensing manual](https://www.gnu.org/licenses/gpl-howto.en.html):

See discussion [after this comment](https://github.com/thoth-station/micropipenv/pull/71#issuecomment-636676543) where we discussed this.

Basically, we included both licence files based on suggestions on gnu.org how to. Sadly, GitHub does not follow symlinks for the LICENSE file so it does not detect the license co

[2020-06-05 08:01] hroncok commented on #80
I see. Let's document this in README as well?

[2020-06-05 08:59] fridex commented on #80
Good idea. :+1:  I opened #82 PTAL.

Also, GitHub documents how the detection is done in:

https://help.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository#detecting-a-license

It might be good idea to change content of ``LICENSE`` file so that GitHub correctly detects the license. It does not need to be shipped with the application (the same behavior as of now)

[2020-06-05 09:04] #80 closed

[2020-06-15 05:17] #77 closed

[2020-07-09 17:02] harshad16 opened #99 "Enable package installation from file"
**Is your feature request related to a problem? Please describe.**
As some packages are not available as PyPI packages, it would be great to have a feature to install them from file directly.
Faced a similar issue while installing spacy packages.

[code]

**Describe the solution you'd like**
A package can be installed from a file via pipenv , would like to have a feature to install via micropipenv

[2020-07-10 06:11] frenzymadness opened #101 "CI clean up"
Could we please decide which parts of micropipenv's CI to remove or fix? I mean, It's kinda misleading to contributors when a PR is merged even when a big portion of tests is red or unfinished.

- Thoth: Advise (Developer Preview) - does not work because we removed its config file
- thoth-ci/* - fail on condition-check-deploy-comment-check and are not able to run tox/pytest tests.
- tide - what th

[2020-07-10 08:12] goern commented on #101
Thoth: Advise (Developer Preview) is a GitHub application that is generally/for all repos enabled in this org, the same for Prow/Tide. I can have a look at disabling both for this repo only.

aicoe-ci (or thoth-ci) should be able to run tox/pytest @harshad16

[2020-07-10 08:12] goern commented on #101
/assign goern
/assign harshad16

[2020-07-15 19:42] fridex commented on #99
As a temporary workaround until #100 gets merged and released, you can substitute the requirement with:

[code]

[2020-07-16 13:27] #99 closed

[2020-07-16 13:35] fridex opened #102 "PEP-440 direct references support in requirements.txt"
**Is your feature request related to a problem? Please describe.**

Let's check if we can install direct references as described in PEP-440 https://www.python.org/dev/peps/pep-0440/#direct-references

**Describe the solution you'd like**

micropipenv is able to install direct dependencies according to PEP-440 from requirements.txt or generate pip-tools compatible output with direct dependencies

*

[2020-07-17 11:04] fridex commented on #101
I've quickly checked the github settings. There is no configuration option to disable the github app for just one repo in the org. Do we want to maintain a list of enabled repos, are we fine for these checks to fail for this repo, or is there a "no-op" action to be configured somehow on Thoth side?
![Screenshot_2020-07-17_13-02-09](https://user-images.githubusercontent.com/880687/87779902-e2a88580

[2020-07-17 12:01] frenzymadness commented on #101
I am okay having them here because I know that only jobs I have to check are Travis and Coala but the motivation for this issue is how it looks to a new contributor.

[2020-07-21 09:26] #102 closed

[2020-07-22 06:22] goern commented on #101
BTW, why have we removed `.thoth.yaml` ?

[2020-07-23 06:19] fridex commented on #101
Pipfile/Pipfile.lock is not used in this repo, requirements are managed by tox:

https://github.com/thoth-station/micropipenv/blob/0e6e0fe63ba8f155110697739f489c6fd509430e/tox.ini#L7-L16

It [lacks Pipenv support](https://github.com/tox-dev/tox-pipenv/issues/58), but there is some [tox-pipenv-install](https://pypi.org/project/tox-pipenv-install/) package on PyPI (I have never used it).

BTW we cou

[2020-07-23 06:20] fridex commented on #101
... and some tests require different packages installed to check behavior based on that - see toml/pytoml for RHEL compatibility testing.

[2020-07-24 06:12] frenzymadness opened #108 "Make tests work in offline environment without pytest-venv"
It would be nice to have a simple way to skip all the tests that require an internet connection (not available in the RPM build process) and make them work without pytest-venv which is not available in Fedora/RHEL.

The second enhancement is kinda questionable because I can simply package it for Fedora but I think that there are no many tests requiring pytest-venv and not requiring internet connec

[2020-07-24 06:21] fridex commented on #108
Related discussion: https://github.com/thoth-station/micropipenv/pull/107#issuecomment-663346365

[2020-07-24 07:35] fridex commented on #108
BTW we can also bundle pytest-venv in the testsuite. It's very simple and straightforward, [see it's implementation](https://github.com/mmerickel/pytest-venv/blob/master/src/pytest_venv/__init__.py).

[2020-07-25 08:17] frenzymadness commented on #108
How many tests are offline and need pytest-venv given the fact that we do testing only with the system pip and toml during the build of RPM?

[2020-07-27 06:14] fridex commented on #108
[code]

I think the venv can be created also for RHEL tests, without explicit pip installation but using the system pip. Hence bundling pytest-venv might be useful. But I haven't checked all the tests, and I'm not sure if there is any exception to consider.

[2020-07-27 06:15] fridex commented on #108
But maybe (all?) the venv tests require downloading packages from Internet, so they might not be useful for offline testing in a restricted environment.

[2020-07-29 09:33] #108 closed

[2020-07-30 04:57] frenzymadness opened #113 "New patch release — v0.5.1"
Would it be possible to release the latest enhancenments? They are only around tests so I think that a patch release is enough.

[2020-07-30 05:55] frenzymadness commented on #113
I have to provide SRPM for RHEL very soon — it would be nice to release it today so I can package the latest version there.

[2020-07-30 05:58] fridex commented on #113
Released v0.5.1 - the release is available on:
* GitHub https://github.com/thoth-station/micropipenv/releases/tag/v0.5.1
* PyPI https://pypi.org/project/micropipenv/0.5.1/

[2020-07-30 05:58] #113 closed

[2020-07-30 05:58] fridex commented on #113
Hope all is fine, let me know if there is anything I can help with. Thanks for the work!

[2020-08-05 08:17] frenzymadness opened #116 "pip releases monitoring"
Is there any way to monitor pip releases? I mean, it would be nice if every pip release would create a new issue in this repository so we won't forget to update micropipenv and run all tests with the latest pip.

I've tried to find some kind of automation or IFTTT service but found nothing.

[2020-08-05 08:22] fridex commented on #116
I'll try to setup our Thoth bot.

[2020-08-05 08:43] fridex commented on #101
With https://github.com/thoth-station/micropipenv/pull/117 Thoth integration can be enabled. Hence only Thoth CI will need to be adjusted to have all the checks green.

[2020-08-12 06:29] #116 closed

[2020-08-25 11:09] frenzymadness opened #120 "Hardcoded pip compatibility test"
I'm glad we are testing micropipenv with the latest versions of pip but I have mixed feelings about hardcoded pip version in the code and the warning it produces if the pip version is different.

If I understand it correctly, the last two releases were released just to say that the micropipenv is compatible with two new releases of pip.

With my package maintainer hat on, I am not sure this approa

[2020-08-25 11:13] fridex commented on #120
+1, completely makes sense :+1:

[2020-08-26 06:30] fridex commented on #120
Not to keep this stalled, I created #121 and mentioned you as the author, but feel free to open PR in your name.

[2020-08-26 11:43] frenzymadness commented on #120
There are two possible problems with compatibility with pip:

* pip is too old: I think we don't have to find a solution for this because we clearly defined in `setup.py` that micropipenv needs `pip>=9`. If you install micropipenv via pip, it will automatically update pip. If you already have micropipenv and downgrade pip, you see a red warning that micropipenv needs something newer. In RPM world,

[2020-08-26 18:55] fridex commented on #120
Agree. Then I don't see why the referenced PR was closed with this comment https://github.com/thoth-station/micropipenv/pull/121#issuecomment-680783771

An example case where I see an issue is s2i with the following example (please correct me if my assumption is wrong here):

Python s2i is shipped with micropipenv from an RPM:

[code]

and s2i tooling manages virtual environment (or use `python3-v

[2020-08-28 07:55] frenzymadness commented on #120
I am sorry if it was unexpected. We might get back to it. I've just realized during testing the PR that the problem is more complex.

It's not now because RPMs are still available only in Fedora. But it will be, yes.

We prefer `venv` whenever possible, that's correct.

That's not quite true. Currently, we use two separate virtual environments — for application and for tools like pipenv or micropi

[2020-08-28 19:36] fridex commented on #120
From the PyPI package point of view I would like to stick with the latter solution - keep the warning but only if something goes wrong. We don't need to release micropipenv on each pip release and if pip changes its internal API users get notified about the fact the buggy micropipenv release was not tested with pip used.

I don't know the impact on the RPM side if there is used `python setup.py bu

[2020-08-31 06:47] frenzymadness commented on #120
Thank you for your patience with my ongoing brainstorming.

You are right. Could you please reopen the PR with the warning and modify it to catch an incompatibility in imports? We can also test it with some older pip.

I am able to add the version restrictions there manually if it will be needed.

[2020-08-31 06:52] fridex commented on #120
No problem at all. Actually I like our conversations as they lead to better software and better solutions. The cross-team coop is very healthy :+1: Thank you!

Reopened in https://github.com/thoth-station/micropipenv/pull/121. Would it be OK for you to proceed with #121 and add check for the older versions in a separate PR, possibly with adding a new test to tox?

Sounds reasonable :+1:

[2020-08-31 09:14] fridex opened #125 "Kebechet update"

[2020-08-31 09:15] fridex commented on #125
Please ignore this issue, it's just to check integration with Thoth.

[2020-08-31 10:54] #125 closed

[2020-08-31 10:54] fridex opened #126 "Kebechet update"
See #125

[2020-08-31 10:55] fridex commented on #125
Did not happen due to https://github.com/thoth-station/thoth-application/issues/343, reopened in #126.

[2020-08-31 11:53] sesheta commented on #126
Closing this issue as it is no longer relevant for the current master with SHA 22fc4b5796d1c962c096a3697a7d4cc038f5e9b1.

[2020-08-31 11:53] #126 closed

[2020-09-02 07:45] fridex commented on #120
I'll reopen this one until we consolidate on #124 and #123

[2020-09-11 08:36] fridex commented on #120
The referenced issues fixed this. I'll close this. Feel free to reopen if anything more to discuss.

[2020-09-11 08:36] #120 closed

[2020-09-29 21:36] fridex opened #130 "Are we ready for 1.0.0 release?"
**Is your feature request related to a problem? Please describe.**

It looks like the codebase got stabilized, micropipenv was triggered a few hundred times during container builds. From a feature point of view, it looks like the tool does its job and, as of now, we don't plan to add any additional functionality.

Are we ready for a 1.0.0 release? Do we want it? Or should we stick with [0ver](http

[2020-09-29 21:36] fridex commented on #130
CC @frenzymadness

[2020-09-29 21:38] fridex commented on #130
One missing feature in issues is https://github.com/thoth-station/micropipenv/issues/33. I don't think it is critical and it does not have any impact on the micropipenv functionality. I would not consider it as a blocker for a possible 1.0.0 release.

[2020-09-30 10:26] frenzymadness commented on #130
It's just my personal preference, but I like semantic versioning.

From its doc:
[code]

From this point of view, we are ready to release version 1.0.0 and obey the rules of semantic versioning for future releases.

[2020-09-30 12:05] fridex commented on #130
OK, sounds good. +1 also on my side for a 1.0.0 release.

I'll keep this open one day for the community, I'll create the release tomorrow if no objections will be received.

[2020-10-01 17:30] #130 closed

[2020-10-28 12:46] pacospace opened #132 "Cannot install micropipenv on Elyra upstream image"
**Describe the bug**
Cannot install micropipenv on Elyra upstream image

**To Reproduce**

pre-requisite:
`podman` installed.

Steps to reproduce the behavior:
1. run ` podman run -p 8888:8888 elyra/elyra:1.2.1 jupyter lab --debug`
2. launch a terminal in Elyra UI and run `pip3 install micropipenv`

environment:
[code]

**Expected behavior**
Installing micropipenv successfully

**Screenshots**
[co

[2020-10-29 13:34] fridex commented on #132
Do you have free disk space available?

BTW this looks like a conda environment.

[2020-10-29 13:41] pacospace commented on #132
I cleaned it after and worked actually, sorry :)  Thanks for looking into it @fridex !! I ll close the issue

[2020-10-29 13:41] #132 closed

[2020-10-29 21:38] fridex opened #133 "Kebechet update"

[2020-10-29 21:40] #133 closed

[2020-10-29 21:41] fridex opened #134 "Kebechet update"

[2020-10-30 08:12] #134 closed

[2020-10-30 08:12] fridex opened #136 "Kebechet update"

[2020-10-30 08:12] sesheta commented on #136
Closing this issue as it is no longer relevant for the current master with SHA b4570725e590c5958a36eab81d54ecbec66ffdbf.

[2020-10-30 08:12] #136 closed

[2020-11-05 20:47] fridex opened #138 "Improve messages logged during the installation process"
**Is your feature request related to a problem? Please describe.**

When using micropipenv as a library together with other tools, such as thamos, the printed log is not nice:

[code]

**Describe the solution you'd like**

Make installation logs prettier.

[2020-11-09 20:54] #138 closed

[2020-11-30 20:46] bissenbay opened #143 "Do we need `aicor-ci.yaml` in this repo?"
Related-To: https://github.com/thoth-station/thoth-application/issues/545#issuecomment-735914655

[2020-11-30 20:48] fridex commented on #143
See https://github.com/AICoE/aicoe-ci/issues/40

[2020-12-01 08:08] frenzymadness commented on #143
I am sorry but I am not familiar with AICoE standards, could you please elaborate more.

[2020-12-01 08:13] fridex commented on #143
@harshad16 works on a CI that is in AICoE org. The CI is configured using `aicoe-ci.yaml` and we recently did changes in our project that required changes in the configuration file hence the issue. This repo is somehow an exception in the whole thoth-station organization as we do not use AICoE CI in it (as of now).

[2020-12-01 08:36] harshad16 commented on #143
thanks, @fridex  for simplifying this.
will get the proper structure in, so that user/collaborators don't get confused based on the ci check statues, as we don't need build check and pytest checks from the aicoe-ci, will get them removed.

[2020-12-01 08:53] fridex commented on #143
@harshad16, thanks!

[2020-12-02 11:42] #143 closed

[2020-12-10 12:44] tumido opened #148 "Wrong package name in lock file results package not being installed - doesn't match pipenv behavior"
**Describe the bug**
When package name in `[packages]` list doesn't match the name in its `setup.py`, micropipenv fails to install. This is inconsistent with `pipenv`.

**To Reproduce**

Prerequisites below. Try to install https://github.com/jundongl/scikit-feature as `scikit-feature` while it's [`setup.py`](https://github.com/jundongl/scikit-feature/blob/48cffad4e88ff4b9d2f1c7baffb314d1b3303792/s

[2020-12-10 12:50] fridex commented on #148
Based on the error log produced:

[code]

I would consider this as a bug in Pipenv rather than in micropipenv. pip added few metadata checks in recent releases which could cause these failures. If Pipenv updates its bundled pip, this behavior could be probably seen also in Pipenv. What is your pip version?

[2020-12-10 12:56] tumido commented on #148
[code]

I don't know if this is a bug in either of those tools :wink: I'm just raising awareness of this inconsistency. I also understand that user is not supposed to name the packages in Pipfile differently to what they are named in the `setup.py`. :smile:

[2020-12-10 13:05] fridex commented on #148
And pip version used with micropipenv? (micropipenv uses pip under the hood, but does not bundle it as Pipenv)

+1, thanks for that! :+1:

[2020-12-10 13:28] tumido commented on #148
[code]

[2020-12-10 13:43] fridex commented on #148
It looks like this is a behavior change with the new pip resolver:

https://github.com/pypa/pip/blob/cdc5422ed5ec2fb00ce6fd7631f76afbcd6a685b/tests/functional/test_install.py#L1459-L1478

You can use an older pip release to suppress this (<20.3) or use the legacy resolver to bypass the check and mimic Pipenv behavior:

[code]

... but ideally fix the name in requirements.

Thanks for letting us kn

[2020-12-14 12:51] fridex opened #149 "Support for PEP-517/PEP-518"
**Is your feature request related to a problem? Please describe.**

Let's have a look if we want to incorporate PEP-517 and PEP-518 into micropipenv. First, let's discuss if we want to have this extension in s2i and in micropipenv itself. More precisely, the tool could support `pyproject.toml` for dependency specification and install dependencies based on the specification stated.

**Additional co

[2020-12-14 12:51] fridex commented on #149
CC @frenzymadness

[2020-12-15 10:10] frenzymadness commented on #149
Could you please elaborate more? What is the benefit of parsing pyproject.toml when we ideally want to install sdist/wheel and not build them?

[2021-01-04 11:38] fridex commented on #148
I'm about to close this issue. The error message produced should point users to the fix for this. This behavior is not micropipenv logic, but pip's logic so I think it's safe to keep this as is.

Thanks for the report and feel free to reopen if you have any other concerns or suggestions.

[2021-01-04 11:38] #148 closed

[2021-01-04 12:52] fridex commented on #149
This is relevant to https://github.com/release-engineering/cachito/issues/342, in which case PEP-517/PEP-518 support was raised. I wonder whether micropipenv could be helpful on this front.

[2021-01-04 13:12] frenzymadness commented on #149
I'm sorry but I don't understand the relation between Pipfile mentioned in the cachito issue and pyproject.toml and PEP-51[78].

[2021-01-04 14:23] fridex commented on #149
The conversation where peps were mentioned was not on GitHub, sadly.

To the pep support - maybe I'm trying to fit too much into micropipenv here, just wanted to have open discussion about it. The point was to add support for `pyproject.toml` so micropipenv could install dependencies needed based on `pyproject.toml` (besides Pipenv files, Poetry lock files or requirements.txt files, could be under

[2021-01-04 19:38] fridex opened #151 "[SPIKE] Make micropipenv an alternative to Pipenv"
**Is your feature request related to a problem? Please describe.**

See upstream discussions as this one https://github.com/pypa/pipenv/issues/2873 (still active comments in 2020). Pipenv seems to be slow in some cases and inaccurate (see for example https://github.com/thoth-station/adviser/issues/1613).

**Describe the solution you'd like**

I was wondering how expensive and complicated it would

[2021-01-04 19:40] fridex commented on #151
Friendly ping to pip/Pipenv folks if this would be something interesting to them.

@pradyunsg @uranusjr

[2021-01-05 06:51] frenzymadness commented on #149
As I understand it, we can fully rely on pip here. Basically, PEP 517/518 are both about building wheels from source tarballs (sdist). PEP 518 defines how you can specify build dependencies for your project and PEP 517 specifies what to call to build a wheel from sdist (build backend). Both are already implemented in pip.

Micropipenv is designed to install packages from a list of dependencies. If

[2021-01-05 07:10] fridex commented on #149
Thanks for the extensive reply. I think it makes sense to keep it as is, as you wrote. Let's close this. 👍

[2021-01-05 07:10] #149 closed

[2021-01-05 13:07] uranusjr commented on #151
You probably want to talk to pip-tools maintainers, who are working to change their resolver to use pip’s new resolver as well IIUC.

[2021-01-05 16:49] fridex commented on #151
Thanks for the reply. Sounds like the idea is not novel and we could eventually combine efforts. Thanks!

[2021-02-08 07:21] fridex commented on #151
Related: https://github.com/pypa/pipenv/issues/4587#issuecomment-771977980

[2021-02-25 09:04] frenzymadness opened #157 "toml modules in tests"
https://github.com/thoth-station/micropipenv/blob/537df19fae5ba486def3098be631fbe75d66b148/tests/test_micropipenv.py#L94-L101

Hello. I'm probably just blind but how the test mentioned above can work when it runs micropipenv in a virtual environment and reads Pipfile without toml or pytoml modules installed in the virtual environment.

I've realized that many tests of pipenv and poetry functionali

[2021-02-25 09:08] fridex commented on #157
This test does not require toml/pytoml. The test installs from Pipifle.lock and micropipenv does not read Pipfile, unless [`--deploy` flag is used](https://github.com/thoth-station/micropipenv#micropipenv-install---deploy).

[2021-02-25 09:16] frenzymadness commented on #157
That makes perfect sense! So right now, we have only two tests requiring one of the toml modules?

[2021-02-25 09:19] fridex commented on #157
Yes, sounds like poetry installation method and pipenv with pipfile parsing. Is there anything to be improved?

[2021-02-25 09:40] frenzymadness commented on #157
I see it only in `test_install_poetry` and `test_install_poetry_vcs`.

[2021-02-25 09:54] fridex commented on #157
Maybe also `test_install_pipenv_deploy_error_hash` (?) and `test_import_toml` could be also considered. We can definitely add more if required. Is this related to any issue?

[2021-02-25 10:00] frenzymadness commented on #157
I don't see where a toml module is installed in `test_install_pipenv_deploy_error_hash`.

https://github.com/thoth-station/micropipenv/blob/537df19fae5ba486def3098be631fbe75d66b148/tests/test_micropipenv.py#L365-L375

[2021-02-25 10:00] fridex opened #158 "Support injecting environment variables into Pipenv files"
**Is your feature request related to a problem? Please describe.**

To be compatible with Pipenv, we should add capability to inject environment variables into Pipenv files. See [Pipenv docs for more info](https://pipenv.pypa.io/en/latest/advanced/#injecting-credentials-into-pipfiles-via-environment-variables).

**Describe the solution you'd like**

micropipenv can inject environment variables to

[2021-02-25 11:27] fridex commented on #157
These tests are using pytoml installed into environment where tests are executed (the process where pytest is running). To handle pytoml installation, these tests need to be rewritten to spawn a sub-process which would use python from venv (that would have pytoml package installed outside of the one in the pytest environment).

Nevetheless I suspect pytoml is brought to environment as an indirect

[2021-02-25 11:29] fridex commented on #157
Yes, I've just checked that toml is a dependency of pytest itself.

[2021-02-25 11:31] fridex commented on #157
I think that's why you originally run a sub-process to verify pytest/toml installation checks:

https://github.com/thoth-station/micropipenv/blob/537df19fae5ba486def3098be631fbe75d66b148/tests/test_micropipenv.py#L825-L838

[2021-03-01 07:56] frenzymadness commented on #158
If there is no rush in implementing this, we'll have a few high school interns in our team in May and this looks like a good project one of them might be interested in. What do you think?

[2021-03-01 08:00] fridex commented on #158
+1 on my side. :+1: We do not have a direct use case for this as of now.

[2021-03-01 09:14] fridex commented on #157
@frenzymadness can we call this resolved or is there any action to be taken?

[2021-03-01 09:30] frenzymadness commented on #157
For the context: I've realized that when I've tried to find a way how to run tests of micropipenv with a toml module installed from RPM to check their compatibility. I was thinking that there might be a way how to let micropipenv use the module from system site-packages but as you pointed out, toml will be always there because it's a direct dependency of pytest and its modules.

It might be possib

[2021-03-01 09:30] #157 closed

[2021-03-01 09:39] fridex commented on #157
Maybe we should include pytoml in the direct dependency listing of testsuite (as it is a direct dependency). If pytest drops toml from its requirements someday in the future, tests will break.

[2021-03-01 13:30] frenzymadness commented on #157
It would be great to run micropipenv in isolated environments. In that case, it should be easy to allow access to system site-packages and test it also with the system toml modules.

[2021-03-01 13:39] fridex commented on #157
Is this something that should be done in s2i/rpm tests? Not sure if it fits into python-only micropipev testsuite.

[2021-03-03 14:52] frenzymadness commented on #157
I can imagine this scenario although I'm not sure it's worth it:
1. Every single tests invoking micropipenv as a module or script would run in a virtual environment separated from pytest and all other test dependencies.
2. Test where a toml module is needed would by default install the chosen implementation to the venv in advance. No more ambiguity caused by test dependencies.
3. In a special case

[2021-03-10 10:30] fridex opened #160 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-10 10:41] #160 closed

[2021-04-17 02:25] sesheta commented on #101
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 02:25] sesheta commented on #33
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-19 09:22] goern commented on #101
/close

feel free to reopen

[2021-04-19 09:22] sesheta commented on #101
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/101#issuecomment-822316769):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-04-19 09:22] #101 closed

[2021-04-19 09:30] fridex commented on #33
/remove-lifecycle stale

Low priority.

[2021-04-29 06:38] frenzymadness opened #163 "Windows in the CI"
As it was uncovered to me in #162 , micropipenv has some users on Windows so it might be a good idea to add Windows to our CI.

The configuration is pretty simple - WIP in https://github.com/frenzymadness/micropipenv/tree/windows_ci - the only remaining thing is to find a way how to run different Python versions in parallel.

But it seems that the pytest-venv is not compatible with Windows. It sho

[2021-04-29 06:50] goern commented on #163
/kind feature

[2021-05-04 10:06] #163 closed

[2021-05-09 08:34] sesheta commented on #151
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-10 07:12] fridex commented on #151
/remove-lifecycle stale

[2021-05-13 06:57] frenzymadness opened #169 "test_check_pip_version"
While debugging mypy issues on Windows I realized that there is also a problem with test_check_pip_version. This test tests that the pip version is compatible with micropipenv but the question is what it should really test? The problem here is that it runs outside of the virtual environment so it tests compatibility with the latest pip in the main tox virtual environment and not in the one defined

[2021-05-13 13:00] #169 closed

[2021-05-26 06:49] Misoslav commented on #158
#177
Should it also find enviromental variables in .env files?

[2021-05-26 11:33] fridex commented on #158
Good point 👍🏻  - it would be helpful. That way the environment variable injecting feature would be fully compatible with [Pipenv's .env handling](https://docs.pipenv.org/advanced/#automatic-loading-of-env).

[2021-05-26 11:35] fridex commented on #158
Actually, reading the docs - might be not needed as micropipenv does not manage a virtual environment.

[2021-06-15 10:12] goern commented on #158
/triage needs-information

[2021-06-15 10:12] goern commented on #151
/priority important-soon

[2021-06-21 06:53] #158 closed

[2021-07-08 17:51] goern commented on #33
/kind feature
/priority backlog
/help
/good-first-issue
/label hacktoberfest

[2021-07-08 17:51] sesheta commented on #33
@goern:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://git

[2021-07-08 17:58] goern commented on #151
/kind feature
/sig docs

[2021-07-30 11:53] fridex opened #184 "PEP-665 support"
**Is your feature request related to a problem? Please describe.**

See https://discuss.python.org/t/pep-665-specifying-installation-requirements-for-python-projects/9911

[2021-08-01 20:02] fridex opened #185 "Groups support in Poetry lock files"
**Is your feature request related to a problem? Please describe.**

Poetry introduced dependency groups feature that will need few adjustments in the source code to work properly:

https://python-poetry.org/blog/announcing-poetry-1.2.0a2/#dependency-groups

See also ``A note about the dev-dependencies section`` part for dev-dependencies handling. It might be also needed to rethink how we integrate

[2021-08-02 08:04] frenzymadness commented on #184
I have to admit, this is kinda complex. If accepted, it might make sense to switch the locking mechanism of micropipenv from pipenv-style to this.

[2021-08-07 20:16] sesheta commented on #33
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-07 20:16] sesheta commented on #151
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-09 07:08] fridex commented on #151
/remove-lifecycle rotten

[2021-08-11 22:46] wjhrdy commented on #33
poetry natively supports this conversion so we could attempt to mimic it.
the most stable way to use micropipenv with poetry is to have poetry export a requirements.txt file.
[code]

[2021-08-12 04:24] wjhrdy opened #186 "poetry.lock [package.dependencies] markers not being respected"
**Describe the bug**
`micropipenv` is not handling the `sys_platform` marker appropriately and is trying to install `pywinpty` and `pywin32` on linux.
Specifically as a dependencies of the `ipywidgets@7.5.1` package

**To Reproduce**
Build this Dockerfile
[code]

**Expected behavior**
Respect `sys_platform` and `os_name` marker from the poetry.lock file.
[code]

The expected behavior is working wh

[2021-08-12 05:38] fridex commented on #186
Hi @wjhrdy, thanks for the report.

Could you please provide `poetry.lock` and `pyproject.toml` to reproduce this?

Briefly looking at this, it might be that we are not propagating markers from the dependencies section:

https://github.com/thoth-station/micropipenv/blob/4051992f4ba6f0014f9caf34435704d512ab97eb/micropipenv.py#L693-L694

[2021-08-12 12:49] wjhrdy commented on #186
poetry.lock
[code]
pyproject.toml
[code]

[2021-08-12 13:00] wjhrdy commented on #186
here is how pipenv handles it

[code]
pipfile.lock (as generated by pipenv)
[code]

[2021-08-12 13:20] wjhrdy commented on #186
This is the pipfile.lock that micropipenv._poetry2pipfile_lock() generates.

[code]

[2021-08-12 13:54] wjhrdy opened #187 "micropipenv._poetry2pipfile_lock() overrides python version specified by poetry.lock and pyproject.toml without warning"
**Describe the bug**
[This line](https://github.com/thoth-station/micropipenv/blob/4051992f4ba6f0014f9caf34435704d512ab97eb/micropipenv.py#L748) disregards the python version that might be specified in the `poetry.lock -> [metadata] -> python-version` without warning.

[This line](https://github.com/thoth-station/micropipenv/blob/4051992f4ba6f0014f9caf34435704d512ab97eb/micropipenv.py#L677) disreg

[2021-08-13 07:28] goern commented on #185
/triage accepted
/priority important-soon
/kind feature

@fridex as always: feel free to reprioritize!

[2021-08-13 07:29] goern commented on #184
/triage accepted
/priority important-soon
/kind feature

[2021-08-13 07:51] goern commented on #187
/kind bug
/assign @fridex
/priority important-soon

[2021-08-13 07:53] goern commented on #186
/kind bug
/priority important-soon

[2021-08-16 07:03] fridex commented on #187
Hi @wjhrdy, thanks for poetry-related reports. They sound reasonable. 👍🏻

We should fully reproduce the environment that poetry noted to create a reproducible environment. The fix should propagate the Python version from poetry files and not use the system Python version.

[2021-08-16 07:06] fridex commented on #186
Thanks @wjhrdy for the report and provided content, putting this on my list. In the meantime, if somebody wants to fix this, contributions are welcome.

[2021-08-16 07:32] frenzymadness commented on #187
How do you plan to achieve that? I mean, micropipenv does not manage Python environments although it runs almost always in them. A warning saying something like "Dependencies definition has been prepared for Python X.Y but you are using X.Z" sounds reasonable. What else can micropipenv do?

[2021-08-16 07:43] fridex commented on #187
If I understood metadata stated in the `pyproject.toml` correctly, poetry notes down python version it used:

[code]

We could propagate this information if stated - otherwise default to system python and print the warning as suggested. The version spec is probably another thing to deal with. I'm not familiar with poetry that much so more input is welcome.

[2021-08-25 12:10] frenzymadness commented on #186
I'd like to help with the fix for this but I need some help. @fridex do you want to implement this yourself or mentor me?

I almost figured it out, but I need to verify my approach. Using the project mentioned above with the terminado package in the dependencies: From the poetry.lock I cannot tell for sure whether ptyprocess or pywinpty are direct application dependencies or not, so I have to take

[2021-08-25 12:12] frenzymadness commented on #186
Draft pull request: https://github.com/thoth-station/micropipenv/pull/188

[2021-08-25 12:13] frenzymadness commented on #184
The PEP is still a draft so I don't think the priority is correct here.

[2021-08-25 12:27] frenzymadness commented on #187
What do you mean by propagating it?

Right now, micropipevn uses `pip` command which usually means that it installs packages for the main Python interpreter for which the main pip command is installed or it installs packages inside a virtual environment that provides its own pip command for whatever Python version is has been created for.

I'm afraid there is nothing we can do about it. We cannot

[2021-08-25 14:23] fridex commented on #187
OK, I think we have a communication noise here - by propagating, I meant reading Python version from poetry files and adding it to Pipfile.lock format in `micropipenv._poetry2pipfile_lock`. Then other parts of micropipenv will pick this Python version information and print the warning or fail in case of `--deploy` flag (similarly as we error out in case of Python version mismatch in Pipfile.lock).

[2021-08-25 14:31] frenzymadness commented on #187
Thanks for the clarification. Now it makes perfect sense and I'll take a look at it.

[2021-08-25 16:31] fridex commented on #186
Sure, always happy to help. 👍🏻

Yes, that's correct.

Shouldn't `pywinpty` have the environment marker `"os_name == "nt"` as stated in `poetry.lock`?

If an environment marker is applied to a dependency, it should not be propagated anyhow - I think it should be applied on the given dependency (regardless if it is direct or indirect dependency). BTW you can double check this behaviour with Pipenv:

[2021-08-30 08:45] frenzymadness commented on #187
I looking at it. If `python` in `[tool.poetry.dependencies]` in `pyproject.toml` contains something like "3.6", the same value is in `poetry.lock` in `[metadata]` section under the `python_versions` key and we can easily take it and put it into `Pipfile.lock` under `_meta - requires - python_version`.
The problem arises when a version in `pyproject.toml` and `poetry.lock` is something like `^3.7`.

[2021-08-30 08:55] fridex commented on #187
I don't think so - Pipenv does not support version range specification on Python interpreter version. We could stick with the lowest Python interpreter version that is used in poetry as that is used as a base for python version range specification if I understand poetry behaviour correctly - e.g. if someone starts a project on Python 3.7, poetry injects `^3.7` by default thus micropipenv could use

[2021-09-10 02:23] sesheta commented on #151
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 02:23] sesheta commented on #151
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/151#issuecomment-916581109):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-10 05:38] fridex commented on #151
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-09-10 05:38] sesheta commented on #151
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/151#issuecomment-916645131):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-11 17:24] sesheta commented on #33
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-11 17:24] sesheta commented on #33
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/33#issuecomment-917442630):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-11 18:46] fridex commented on #33
Thanks, @wjhrdy. This is valuable information. That sounds like the right way to extend the implementation.

/reopen
/remove-lifecycle rotten
/triage accepted

[2021-09-11 18:46] sesheta commented on #33
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/33#issuecomment-917455271):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-12 08:24] sesheta commented on #185
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] sesheta commented on #185
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/185#issuecomment-917588319):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-13 06:49] fridex commented on #185
/reopen
/remove-lifecycle rotten

[2021-09-13 06:49] sesheta commented on #185
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/185#issuecomment-917891177):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-17 08:13] frenzymadness opened #189 "[RFE] Micropipenv get-python-version"
Given these two facts:
* micropipenv is able to parse all the .lock and pyproject files and
* micropipenv is not able to create a Python virtual environment

it might make sense to implement a new command `get-python-version`. The new command would basically just print out the information about the Python version the configuration is prepared for.

Let's say I'd like to use micropipenv instead of

[2021-09-17 08:26] encukou commented on #189
One idea would be a `filter-python-versions` command.
Given a file like:
[code]
then `cat versions | micropipenv filter-python-versions` would output all versions that match: all of them for `requirements.txt`; matching ones for Poetry; only the configured one for pipenv with `python_version`; all of them for pipenv without `python_version`.

Creating the list (and possibly ordering it by desrabil

[2021-09-17 15:38] Vad1mo opened #190 "Micropipenv does not respect the python version"
**Describe the bug**
I am using poetry and added the dependency **dacite**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. use the provided `pyproject.toml`
2. generate `micropipenv req --no-hashes --no-comments`
3. see that `dataclasses` is installed on python 3.9

dacite has  dependency to dataclasses that should only be installed on python <3.7

[code]

**Expected behavior**
`micr

[2021-09-17 15:47] frenzymadness commented on #190
Thanks for the report! Could you please try to reproduce the same bug with the version in #188? We are aware of this and the PR should contain the fix. Could you please help us to verify it?

[2021-09-21 06:58] fridex commented on #189
+1 on my side, the extension sounds reasonable.

It might be a good idea to end with an error here - following "Explicit is better than implicit." Then, let the user decide which version to use. Alternatively, create a flag like ``--default-sys-executable`` that would default to the Python available in ``sys.executable`` in these cases.

The lowest matching might make sense here. Maybe create a fl

[2021-09-21 07:16] #186 closed

[2021-09-22 08:06] fridex commented on #190
Thanks for the report @Vad1mo. The [latest v1.1.1](https://pypi.org/project/micropipenv/1.1.1/) release just published should address this issue. Could you please try updating and verify the fix by @frenzymadness solves your issue? Thanks in advance.

[2021-09-22 09:51] abompard opened #192 "poetry.lock [package.dependencies] conflict on markers"
This is a followup of #186. I have a use case on my poetry-based project where the package `arrow` depends on package `typing-extensions` with markers `python_version < "3.8"`, and package `bravado` depends on package `typing-extensions` too but without markers.
When I'm running on python 3.9, poetry installs `typing-extensions`, but micropipenv does not:
[code]

As a result, bravado is missing on

[2021-09-24 17:31] sesheta commented on #184
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 17:31] sesheta commented on #184
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 17:31] #184 closed

[2021-09-24 17:31] sesheta commented on #184
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/184#issuecomment-926802942):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-28 13:35] macarr opened #193 "v1.1.1 fails to generate requirements from poetry lockfile"
**Describe the bug**

micropipenv fails to generate requirements using poetry method for certain configurations in 1.1.1

**To Reproduce**

given:
[code]

when I generate the poetry lockfile using `poetry lock` on poetry version 1.1.10

when I execute `micropipenv requirements --method poetry --no-dev`

I get
`'atomicwrites'`
and then exit code 3

when I execute `micropipenv requirements --method

[2021-09-29 11:31] sesheta commented on #187
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-29 11:31] sesheta commented on #187
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-29 11:31] sesheta commented on #187
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/187#issuecomment-930091511):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-09-29 12:43] fridex commented on #187
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-09-29 12:43] sesheta commented on #187
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/187#issuecomment-930139719):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-10-04 08:27] goern commented on #193
/kind bug
/priority important-soon
/assign @fridex
/triage accepted

[2021-10-04 08:38] goern commented on #192
/kind bug
/priority important-soon
/assign @fridex
/triage accepted

[2021-10-04 10:33] frenzymadness commented on #193
Thanks for the report. I'm gonna investigate it.

[2021-10-04 10:35] frenzymadness commented on #192
There is a PR to address this issue. It'd be awesome if you could test it. Also, if you have more projects you can test micropipenv on, do it please and provide any other problems you find. It's very helpful.

[2021-10-04 11:38] frenzymadness commented on #193
Could you please test my fix in #195?

[2021-10-04 12:27] goern commented on #193
/unassign @fridex
/assign @frenzymadness
/lifecycle active

[2021-10-04 12:28] goern commented on #189
/kind feature
/priority backlog

[2021-10-04 13:03] abompard commented on #192
Yep, the PR worked on my test project. Thanks!

[2021-10-05 07:51] goern commented on #190
/kind bug
/priority awaiting-more-evidence
/lifecycle active

[2021-10-05 12:27] #192 closed

[2021-10-05 12:55] #193 closed

[2021-10-07 20:29] hanjos opened #198 "v1.1.2 "micropipenv requirements" doesn't autodetect from poetry.lock"
**Describe the bug**
`micropipenv requirements` (with no flags) doesn't autodetect the method; it fails outright if it's not Pipenv:

[code]

**To Reproduce**
Given a codebase using Poetry:
[code]

Run:
[code]
with no flags inside an active virtual environment.

**Expected behavior**

Micropipenv detects that Poetry is use and produces a requirements list from `poetry.lock`, as stated in `--help`:

[2021-10-07 20:38] hanjos commented on #198
For additional info, `micropipenv install` seems to work fine.

A cursory look at the source code (from a non-Python programmer, so take it with some grains of salt...) suggests that `requirements` does no detection at all.

[2021-10-10 08:33] sesheta commented on #151
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-10 08:33] sesheta commented on #151
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/151#issuecomment-939431060):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-10-18 14:53] goern commented on #198
/kind bug
/priority backlog
/assign @fridex

[2021-10-20 07:26] #198 closed

[2021-10-20 08:51] Vad1mo commented on #190
Ahh this is simple:

`poetry add sentry-sdk[flask]`

[2021-10-25 16:35] abompard opened #203 "RFE: support directory-based dependencies"
I'm using Poetry as a dependencies manager. If one of my dependencies is directory-based, micropipenv stops with the message:
[code]

I think it's a common pattern for project that have multiple components to have directory-based dependencies from a subproject to another. My pyproject.toml file has:
[code]

I propose the following change:
[code]

I'm totally willing to send a proper PR with unit t

[2021-11-05 08:08] fridex opened #206 "Create report containing information about packages installed"
**Is your feature request related to a problem? Please describe.**

micropipenv provides easy to use tool to install application dependencies. It might be an interesting feature to let users know more about the installation process and provenance of installed packages. Consider a use-case when a user wants to know information about packages installed into the environment. The user can trigger:

[c

[2021-11-05 08:09] fridex commented on #206
CC @frenzymadness does this sound interesting feature to be implemented in micropipenv? It might be interesting to keep the report even in python s2i after the build to have a mechanism to introspect what exact packages are present after the image is built.

[2021-11-09 17:36] frenzymadness commented on #206
Should this work during the installation or ex-post? I honestly think that micropipenv is verbose enough and you can always increase pip verbosity via an environment variable so I'm not sure I'd find a use case for such a feature. Moreover, with hashes in a dependency spec, you should be able to re-run the same installation and track down whatever you need to know. Have you ever been in need of su

[2021-11-09 19:58] frenzymadness commented on #190
I've tried to reproduce this issue. I have very simple project which depends on `dnspython[idna]` - to check that micropipenv installs the extra dependency - idna.

pyproject.toml
[code]
poetry.lock
[code]
micropipenv req returns:
[code]
micropipenv install:
[code]
Strange, everything works. But there might be some difference so let's try the same with the package you mentioned. I've removed the d

[2021-11-23 14:53] codificat commented on #190
bump: is this still an issue? can it be reproduced?

[2021-11-25 13:23] Vad1mo commented on #190
my initial reported issue is fixes, for the other one i'll open a new one it is still not fixed.

[2021-11-25 13:23] #190 closed

[2021-12-03 09:24] fridex commented on #206
The feature might be interesting to track down what the installation process brought to the environment. The lockfile states package versions (optionally index URL in case of Pipenv lockfiles) but it lists multiple hashes per package version. If one or more artifacts go missing, it might be hard to track down which artifacts were actually picked by pip and used during the installation process (sim

[2021-12-03 09:25] #203 closed

[2021-12-03 10:25] fridex commented on #206
BTW this might be interesting to discuss with pip upstream and see their vision in this area.

[2021-12-06 09:17] todo[bot] opened #215 "Implement or use external parser for Python versions in Poetry specification."
https://github.com/thoth-station/micropipenv/blob/0fd5a62eb20d9cc420a5be64a0887765307207d2/micropipenv.py#L653-L658

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0fd5a62eb20d9cc420a5be64a0887765307207d2 when #214 was merged. cc @frenzymadness.

[2021-12-06 09:22] fridex commented on #215
Closing this in favor of https://github.com/thoth-station/micropipenv/issues/33.

/close

[2021-12-06 09:22] #215 closed

[2021-12-06 09:22] sesheta commented on #215
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/215#issuecomment-986589199):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-12-12 09:19] sesheta commented on #185
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-13 09:32] fridex commented on #185
/remove-lifecycle stale

[2022-01-02 15:23] sesheta commented on #189
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-03 11:19] fridex commented on #189
/remove-lifecycle stale

[2022-01-09 09:24] sesheta commented on #151
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-10 09:30] fridex commented on #151
/remove-lifecycle stale

[2022-01-14 12:31] goern commented on #206
/kind feature
/priority important-soon

[2022-01-14 13:48] goern commented on #187
any update in this?

[2022-01-14 15:51] frenzymadness commented on #187
Not really. I'm still not sure how to implement this.

[2022-02-15 09:58] goern commented on #185
@Gregory-Pereira @fridex what is missing to get this merged? its lingering around for some time now...

[2022-02-16 20:49] matt-carr opened #221 "micropipenv requirements generates "extras" notes that break pip install"
**Describe the bug**
When generating requirements from poetry, when extras are involved, micropipenv generates a requirements file that can't parse hashes.

Unsure how far this expands, my case covered `celery[azureblockblob]`

**To Reproduce**
Steps to reproduce the behavior:
Given: poetry.lock generated from a pyproject.toml containing the following dependencies

[code]

1. run `micropipenv requ

[2022-02-17 09:22] goern commented on #221
/kind bug
/assign @fridex

[2022-02-17 14:37] matt-carr opened #222 "[RFE] Support private package repositories"
**Describe the solution you'd like**

When poetry adds packages from private repositories, the package source type is "legacy". micropipenv does not support this ("micropipenv supports Git VCS or directories, got legacy instead"). This behaviour _is_ supported via pipenv. It would be nice to have feature parity in this case.

[2022-02-20 20:10] frenzymadness opened #223 "New release with pip 22 support"
SSIA, we need to update micropipenv in Fedora before we update pip to 22.

[2022-02-20 20:19] fridex commented on #223
I'm wondering what would be the most appropriate release given the changes - patch or new minor release?

[2022-02-21 05:12] frenzymadness commented on #223
I think both are fine. Depends on whether we fix incompatibility with pip 22 (patch) or add the compatibility as a new feature (minor).

[2022-02-21 08:39] #223 closed

[2022-02-21 09:25] fridex commented on #223
The release is available https://pypi.org/project/micropipenv/1.2.1/

[2022-02-21 09:42] goern commented on #222
@fridex could you have a look at this and triage the issue?

[2022-02-21 10:22] fridex commented on #222
@matt-carr Could you please post `poetry.lock` and `pyproject.toml` examples? The URL and package names can be adjusted, just to have a notion of what your use-case is.

[2022-02-22 07:36] frenzymadness commented on #185
Groups' support in poetry is not yet officially released. It will be in 1.2 but I'm not sure about their schedule. The last release is 1.2.0a2 from August 2021.

[2022-02-22 08:06] goern commented on #222
/kind feature
/priority important-soon
/triage needs-information
/assign @fridex

[2022-02-22 08:25] frenzymadness commented on #221
Thanks for the report. May I ask which version of micropipenv do you use? I have version 1.1.0 from the official RPM in Fedora and I'm not able to reproduce your issue.

The requirement for celery looks as it should `celery[azureblockblob]==4.4.7`, there is nothing more on the line with `azure-storage-common==1.1.0 \` and pip is able to install all the dependencies.

My files look like this:
pypro

[2022-02-22 18:18] matt-carr commented on #222
pyproject.toml

[code]

poetry.lock

[code]

command

[code]

[2022-02-22 18:20] matt-carr commented on #221
[code]

[2022-02-23 06:45] frenzymadness commented on #221
You are right. The problem is in micropipenv since version 1.1.0 and it's caused by my implementation of environment markers in this commit: https://github.com/thoth-station/micropipenv/commit/75a3d774736db0efd9af1efea1e940704547ca93

I'm gonna look at it now and try to fix it as soon as possible.

[2022-02-24 07:52] frenzymadness commented on #221
Could you please test that the implementation in #226 fixes the issue?

[2022-02-24 13:35] matt-carr commented on #221
Confirmed!

[2022-02-24 17:59] #221 closed

[2022-02-28 21:03] matt-carr opened #227 "`micropipenv requirements --method poetry --no-default` won't generate sub-dependencies if they're also a main dependency"
**Describe the bug**

`micropipenv requirements --method poetry --no-default` won't generate sub-dependencies if they're also a main dependency.

e.g. if I declare `python-dateutil` to be a project dependency, and `freezegun` to be a dev dependency, and I run `micropipenv requirements --method poetry --no-default > dev-requirements.txt` and then try to pip install that, I will get the following er

[2022-03-04 07:35] goern commented on #227
Hey Matt thanks for that!

/kind bug
/priority critical-urgent
/assign @fridex

[2022-03-08 11:29] goern commented on #33
is this TODO still valid?

[2022-03-28 11:47] #227 closed

[2022-04-03 13:11] sesheta commented on #189
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-04 10:05] goern commented on #33
/sig user-experience

[2022-04-14 13:12] sesheta commented on #206
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-14 16:12] sesheta commented on #187
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 17:12] harshad16 commented on #206
/lifecycle frozen

[2022-04-18 17:13] harshad16 commented on #189
/lifecycle frozen

[2022-04-18 17:13] harshad16 commented on #187
/lifecycle frozen

[2022-04-28 13:20] Bing-su opened #232 "[RFE] Support pdm"
there are many python package managers...

I hope micropipenv supports [pdm](https://github.com/pdm-project/pdm).

[2022-04-28 13:32] fridex commented on #232
Thanks for opening this RFE. It looks like pdm's lock file is very similar to the one that Poetry uses. Briefly checking the lockfile and pdm implementation, having pdm supported might not be that hard to implement (just a first guess). Nevertheless, we do not have any project that would use pdm. If you or someone from the community implements support for it, we are happy to review or give guidanc

[2022-05-02 12:59] codificat commented on #232
/kind feature

[2022-05-11 12:07] fridex opened #233 "Transferring micropipenv to @frenzymadness"
Hi micropipenv community,

I hope this is the best way how to notify you about the transfer we are going to make.

@frenzymadness and I agreed that the main owner and maintainer of micropipenv will be @frenzymadness (Lumir). Lumir knows the codebase and is a very valuable committer, reviewer, and maintainer of this tool. He also knows how it is packaged and lifecycled in RHEL8/RHEL9 releases. I'm

[2022-05-18 08:03] fridex commented on #233
/close

[2022-05-18 08:03] sesheta commented on #233
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/233#issuecomment-1129698146):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-05-18 08:03] #233 closed

[2022-05-23 10:16] sesheta commented on #185
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 19:16] sesheta commented on #222
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 00:56] sesheta commented on #151
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-22 21:49] sesheta commented on #222
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-23 07:21] frenzymadness commented on #185
Poetry 1.2.0 beta 2 has been released 16 days ago. It might be a good time to take a look at this.

[2022-06-23 11:48] matt-carr commented on #222
Bump? Still very interested in this (unless someone has handled it already in which case ignore me <3 )

[2022-06-23 11:56] frenzymadness commented on #222
Do you want to try to implement it?

[2022-06-23 12:14] matt-carr commented on #222
Ah sorry not trying to be pushy, I just noticed it had been marked as important earlier and wasn't sure if it had been forgotten.

I'll have time in a couple months to try if nobody else has

[2022-06-28 07:34] MaxandreOgeret opened #236 "Micropipenv ignores subdirectory for VCS packages."
**Describe the bug**
Micropipenv ignores subdirectory for VCS packages.

**To Reproduce**
Steps to reproduce the behavior:
- Generate a Pipenv.lock using git vcs and a subdirectory:
[code]
- try to run micropipenv
[code]

Error :
[code]

**Expected behavior**
micropipenv navigates to the subdirectory to find the setup.py

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-06-28 14:33] frenzymadness commented on #236
Interesting, thanks for the report. Could you please paste the lockfile here?

[2022-06-30 12:58] frenzymadness commented on #236
I'm going to open a PR with a fix for this for Pipfile.lock. I wanted to make it work also for poetry, but it seems that [poetry does not support subdirectories](https://github.com/python-poetry/poetry/issues/755) yet.

[2022-07-01 03:49] sesheta commented on #151
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-11 14:29] mayaCostantini opened #238 "Integrate Sigstore to verify package provenance"
**Is your feature request related to a problem? Please describe.**

As a user of micropipenv, I would like to be able to verify the provenance of packages I install using the [sigstore-python](https://github.com/sigstore/sigstore-python) library. This way, installation could provide warnings about packages which signature could not be verified or enable rules to be defined to block such packages f

[2022-07-12 05:52] frenzymadness commented on #238
Hello. Could you please describe in more detail how this should work? Micropipenv uses pip under the hood and installs packages one by one via pip using its internal functions. If I understand it correctly, micropipenv would have to download a package first, download the signature from an online database, verify it and then give this verified package to pip to install it. Is that correct?

[2022-07-15 10:16] #236 closed

[2022-07-19 12:20] lcy0321 opened #239 "micropipenv 1.3.1 generate an invalid output if the Pipfile.lock has an VCS package"
**Describe the bug**

micropipenv 1.3.1 generate an invalid output if the Pipfile.lock has VCS packages.

**To Reproduce**

1. Create a Pipfile with the following content:
[code]
2. Run `pipenv lock` to generate the Pipfile.lock
3. Run `micropipenv requirements --no-hashes`
4. Get the following output that is invalid for pip to install
[code]
  Note that the "--editable" line is incorrectly combin

[2022-07-19 14:49] frenzymadness commented on #239
You are right. It seems that the `\n` is on the wrong side at this line: https://github.com/thoth-station/micropipenv/blob/b7166f8b21827a468286469ffd165da4d2bda8c4/micropipenv.py#L1118

I'm sorry for that. I'll fix it ASAP and add a test for it.

[2022-07-19 15:11] goern commented on #187
@fridex could you have a look at this, or is it better to reassign it? thx!

[2022-07-19 15:20] frenzymadness commented on #239
Could you please take a look at the linked PR? There are also some new tests for this so it should never happen again.

[2022-07-19 16:20] goern commented on #239
/kind bug
/priority important-soon
/assign @frenzymadness

[2022-07-21 04:59] #239 closed

[2022-07-23 09:43] sesheta commented on #185
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-23 09:43] sesheta commented on #185
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/185#issuecomment-1193096628):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-07-23 12:43] sesheta commented on #222
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-23 12:43] #222 closed

[2022-07-23 12:43] sesheta commented on #222
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/222#issuecomment-1193119545):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-07-24 08:57] frenzymadness commented on #185
/reopen

[2022-07-24 08:57] sesheta commented on #185
@frenzymadness: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/185#issuecomment-1193275760):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2022-07-24 08:57] frenzymadness commented on #185
/remove-lifecycle rotten

[2022-07-25 05:45] frenzymadness opened #242 "Disable Thot bot (sesheta) on this project"
I'd like to disable Thot bot (sesheta) on this project. In my opinion, it generates unnecessary comments and does not add any value to my workflows.

@goern what do you think?

[2022-07-26 05:39] goern commented on #242
I'm good with hat, if you could give a little insight what you like/dont like, what you would like to see, etc.

@Gkrumbach07 @mayaCostantini
/kind feature
/priority critical-urgent
/triage accepted

[2022-07-26 05:41] goern commented on #232
/priority backlog
/triage accepted

[2022-07-26 07:55] frenzymadness commented on #242
I'm just used to managing my repositories manually. For example, I don't like the auto-closing of issues. Also, every new PR receives an immediate comment from the bot that the issue is not approved, which is obvious for new PRs. Github has its own standard way for approving of PRs and I like it more than the special commands. One last thing is that the comment from the bot in the latest PR says t

[2022-07-26 07:57] mayaCostantini commented on #242
/sig user-experience

[2022-07-31 06:44] sesheta commented on #151
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-31 06:44] sesheta commented on #151
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/micropipenv/issues/151#issuecomment-1200360996):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-08-01 11:02] frenzymadness commented on #151
@fridex do you want to continue with this? I'm not sure I fully understand the intention here. IIUC micropipenv now installs packages in a loop until all of them are installed and if some fails they're moved to the end of the queue. This proposal is about using pip resolver for it so the order of installed packages would be determined first and then installed so there should be no failures. Is tha

[2022-08-02 10:08] goern commented on #242
Hey @frenzymadness I think you are talking about all the Prow activity you see on issues.

wrt to approving PR, the Prow plugin and GitHub are equivalent, you can use one or the other with the same results. so if you like to click approve on the github web UI, feel free, it will also add the 'approved' label. I wonder why you do the additional manual step of merging by yourself, if a PR is approve

[2022-08-08 09:51] goern commented on #151
/lifecycle frozen
/priority backlog

[2022-08-09 13:49] goern commented on #238
/priority important-soon

[2022-08-09 14:14] frenzymadness commented on #238
I was inclined to close this issue without a detailed description. What is the plan here?

[2022-09-09 00:22] avfarooq opened #246 "Support for "legacy" source types via Poetry"
Poetry designates the source type for every package as 'legacy' in the poetry.lock file if using a 3rd party or proxy repository as I am.

Now micropipenv only supports the source type to be 'git' or 'directory'

I kindly ask to support the 'legacy' value for source type as well, so that micropipenv can be used within an s2i container to build an image via poetry.lock and pyproject.toml files.

Th

[2022-09-09 10:05] frenzymadness commented on #246
Hi. Could you please provide us an example of pyproject.toml and poetry.lock we can use to reproduce the issue?

[2022-09-14 07:18] goern commented on #246
/kind feature
/triage needs-information

[2022-09-14 15:19] avfarooq commented on #246
My bad on the delay. I'll try to respond today with an example.

[2022-09-16 17:20] avfarooq commented on #246
I have attached an example demo repo which has the Poetry example files that replicate this issue. For some context, repositories that use the [Simple Repository API](https://peps.python.org/pep-0503/) are designated by Poetry as type`legacy` .. and this prevents the usage of Micropipenv. I'd like to be able to use micropipenv within an s2i builder image as it's one way to use Poetry without havin

[2022-09-20 07:30] frenzymadness commented on #246
Thanks for the demo. I'm already working on it and it helped me a lot to understand how poetry and pipenv handle package sources.

[2022-09-20 07:33] frenzymadness commented on #185
Poetry 1.2.1 has been released 4 days ago. I have to take a look at this.

[2022-09-20 11:29] frenzymadness commented on #246
Could you please help me verify that the fix I've prepared and the tests together with it make sense? See the linked PR. Thank you.

[2022-09-20 12:03] frenzymadness commented on #238
Is anybody from your team willing to implement this?

[2022-09-20 12:10] mayaCostantini commented on #238
Hi @frenzymadness, sorry about the late answer. Yes, this would be something similar to the solution you describe, do you think that would be something we could implement? I have not yet taken a deep enough look at micropipenv internals but I am willing to do so if you think this could be a realistic feature.

[2022-09-20 13:44] frenzymadness commented on #238
I'm afraid it's not possible now. There is PEP 458: https://peps.python.org/pep-0458/ and a very long discussion on top of it https://discuss.python.org/t/pep-458-secure-pypi-downloads-with-package-signing/2648

I don't know all the details but it seems to be slowly progressing. There was a long pause but then somebody funded the effort so it can continue.

I'm not aware of any API compatibility b

[2022-09-20 14:01] mayaCostantini commented on #238
Thank you for the documentation and answer :+1: I will take examine this more closely

Ok, then I guess this would indeed be out of scope for micropipenv. I am not sure if this feature would be a good fit here and in this case, feel free to close the issue. Otherwise, I would be happy to help contribute to it.

[2022-09-22 08:02] frenzymadness commented on #238
I think that the best course of action now is to read the PEP and think about the possible integration with other tools like pip, poetry, pipenv and then micropipenv in the next round. Also, if you have some special requirement for Thoth project, now it's the right time to discuss them.

Because there is nothing we can do here now, I'm closing the issue.

[2022-09-22 08:02] #238 closed

[2022-09-26 08:25] frenzymadness commented on #246
@avfarooq do you plan to take a look at the changes anytime soon? If you don't, please say so and I'll merge it and release a new version today or tomorrow.

[2022-10-04 11:28] #246 closed

[2022-10-14 10:06] frenzymadness commented on #185
Thanks for your interest @shifqu . Could you please provide your poetry.lock and pyproject.toml files? Feel free to create some artificial ones just to reproduce the issue.

[2022-10-17 12:49] Gkrumbach07 commented on #242
any update on this @frenzymadness?

[2022-10-17 14:39] VannTen opened #249 "micropipenv future & python dependency pinning standardization"
We want to shift micropipenv direction toward the currently discussed ["lock file" standard](https://discuss.python.org/t/how-should-a-lockfile-pep-665-successor-look-like/17690).

We believe that standardizing dependency pinning in the Python ecosystem (for
resuming the purpose of the above discussion) can answer to the problem
micropipenv currently solves.

As such, we intent to focus our work o

[2022-10-21 08:17] shifqu commented on #185
Hello, I am having trouble reproducing this with an artificial poetry.lock/pyproject.toml as it normally is a step in our deployment to openshift, which uses source2image, which in turn uses micropipenv.

I cannot send the real poetry.lock since it includes urls to internal locations. But I figure this might be the issue. The source of our packages is not pypi, but an internal mirror. Could this h

[2022-10-21 11:15] shifqu commented on #185
So, after checking our toml file for differences, and reading a bit of code, I was able to come up with a mvp to reproduce the issue.

Poetry 1.2 no longer uses `tool.poetry.dev-dependencies`, but rather `tool.poetry.group.dev.dependencies`.
So baiscally to reproduce:
- Install poetry 1.2+
- run `poetry init`
- add a dev-dependency using poetry: `poetry add --group dev black`
- Add micropipenv as

[2022-10-24 07:53] frenzymadness commented on #246
A late reply is much better than a no reply. Thanks for that!

[2022-10-24 09:08] frenzymadness commented on #242
@Gkrumbach07 I still think I don't need the bot here. But I'm not alone anymore so what do you @VannTen think?

[2022-10-24 09:10] frenzymadness commented on #185
Thanks a lot for the investigation and all the information. I'll take a look at this ASAP.

[2022-10-24 09:30] VannTen commented on #242
The lifecycle labels and auto-closing should be disabled now for all
repos under thoth-station/

Regarding the tide stuff (approved and lgtm labels and automerging) I'd
rather keep them, in particular the lgtm (can only be put by someone
else than a PR author if I'm correct) works pretty well to be sure to
have a least two set of eyes on stuff going into the main branch.

[2022-10-27 07:28] frenzymadness commented on #185
@shifqu thanks again, you basically did all the work here. I looked into it and found the implementation of the hash verification in poetry which helped me to understand how it should work here because our code is basically a copy of the original one from poetry. The change is proposed in the linked PR with a description in the comment. Could you please take a look at it and possibly test it? I've

[2022-10-27 12:25] shifqu commented on #185
@frenzymadness thanks! I made a short review on your PR, but am closing one comment, as re-reading your last comment made me realize that just getting the `groups` key is sufficient.

I will try to find some time to test the PR.

So far, I have only come across groups when using dependencies, so AFAIK we got the groups covered with your PR.

[2022-10-27 12:57] shifqu commented on #185
I just tested the PR from your personal repository and can confirm that my previous test now succeeds 👌

I then ran the command `poetry add --group extra isort`, which created the group.extra.dependencies section in my pyproject.toml. I then ran the verify function again, which did not throw an error, so the arbitrary groups are all handled by your current PR! 🙌

The pyproject dependency part look

[2022-11-02 21:45] boddie2 opened #251 "Support for "url" source type via Poetry"
If the source type of a package is 'url', micropipenv fails to install it -> 'micropipenv supports Git VCS or directories, got url instead'

Example of a package from a poetry.lock which fails to install:

[[package]]
name = "en-core-web-sm"
version = "3.0.0"
description = "English pipeline optimized for CPU. Components: tok2vec, tagger, parser, senter, ner, attribute_ruler, lemmatizer."
category

[2022-11-03 09:41] VannTen commented on #251
/kind feature
/triage accepted
Looks like worthy addition.

[2022-11-03 23:08] frenzymadness commented on #251
@VannTen do you plan to take a look at this?

[2022-11-07 13:53] Gkrumbach07 commented on #242
@frenzymadness @VannTen Is there any other actions to be done regrading the Thoth bot on this repo? If not I will close this issue

[2022-11-08 08:27] VannTen commented on #251
Not before next January I'm afraid.